<div class="jumbotron text-center alert alert-success mt">
  <h1 class="display-3" style="font-weight: 400" ;>{{title}}</h1>
  <p class="lead">Have you any idea? Click down to save</p>
  <a href="/ideas/add" class="btn btn-success btn-lg">Add Idea</a>
</div>